@import 'reset';
@import 'fonts';

html, body {
    height: 100%;
    margin: 0;
    background-color: #f6f6f6;
    font-size: 16px;
    font-family: 'Merriweather', 'Georgia', serif;
    font-weight: 300;
    color: #888;
}

h1, h2, h3, h4 {
    line-height: 130%;
    color: #444;
    font-family: 'Merriweather Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin: 0 0 1rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.3rem;
}

h4 {
    padding-top: 1rem;
    font-size: 1.3rem;
}

pre + h4 {
    padding-top: 2rem;
}

pre + p {
    padding-top: 1rem;
}

a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    color: #00BCD4;
}

p {
    margin: 0 0 1rem;
}

em, strong {
    font-weight: 700;
}

section.content {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    overflow: auto;
}

#app-content {
    margin: 0 auto;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
    padding: 0 1% 1rem 1%;
    columns: 20rem auto;

    @media (min-width: 500px) {
        columns: 25rem auto;
    }

    @media (min-width: 800px) {
        columns: 30rem auto;
    }

    @media (min-width: 1200px) {
        columns: 35rem auto;
    }
}


#app-header {
    background-color: rgba(43, 43, 43, .90);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;

    box-shadow: 0 2px 1px rgba(0, 0, 0, .3);
    overflow: auto;

    section.content {
        position: relative;
    }

    svg {
        visibility: hidden;
        height: 4rem;

        @media (min-width: 600px) {
            font-size: 2rem;
            width: 11rem;
            margin: .5rem 0 0 2%;
            visibility: visible;
        }
    }

    &+ svg {
        margin: 5.1rem 0 0.5rem 1rem;
        visibility: visible;
        height: 4rem;
        width: 11rem;

        @media (min-width: 600px) {
            margin-top: 1rem;
            visibility: hidden;
        }
    }
}

svg {
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.9));
}


#app-menu {
    margin: 0 1rem 0 0;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;

    ul {
        height: 100%;
        display: flex;
        align-items: center;
    }

    li a {
        padding: .5rem 1rem;
        margin-left: .3rem;
        border: 1px solid transparent;
        border-radius: 3px;
    }

    li a:last-child {
        margin-right: .3rem;
    }

    li.selected a,
    li a:hover {
        border-color: rgba(0, 188, 212, 0.3);
    }

    li.selected a {
        background-color: rgba(0, 188, 212, 0.1);
    }
}

article {
    display: inline-block;
    background-color: #fff;

    padding: 1rem;
    font-size: 1rem;
    margin: 0 0 1rem 0;
    width: 100%;
    box-sizing: border-box;

    border-radius: 3px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);

    @media (min-width: 500px) {
        padding: 2rem;
    }

    @media (min-width: 800px) {
        margin: 0 1% 1rem;
        width: 98%;
    }

    header {
        overflow: hidden;
        margin-bottom: 1rem;
    }

    h1 a:link, h1 a:visited {
        color: #444;
    }

    h2 {
        float: right;
        font-size: 0.9rem;
        letter-spacing: -0.5px;
        color: #666;
    }

    img {
        max-width: 96%;
    }

    section {
        line-height: 180%;
    }

    pre {
        overflow-x: auto;
        background-color: #f6f9f9;
        padding: 1rem;
    }

    &.tweet section {
        line-height: 130%;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;
    }
}



