<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" type="text/css" href="/somanyfeeds.css" />
    <title>SoManyFeeds - A feed aggregator by Damien Le Berrigaud.</title>
</head>
<body>

<p>Oops, there was an error: {{ model.Message }}.</p>

</body>
</html>
