<!DOCTYPE html>
<html>
{% include "_head.html.liquid" %}
<body>

<script src="/somanyfeeds.js"></script>
<script>
    Elm.SoManyFeeds.Manage.init({ flags: {
        userName: "{{ model.UserName }}",
        feeds: {{ model.FeedsJson }}
    }});
</script>

</body>
</html>
