<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" type="text/css" href="/somanyfeeds.css" />
    <title>SoManyFeeds - A feed aggregator by Damien Le Berrigaud.</title>
</head>
<body>

<script src="/somanyfeeds.js"></script>
<script>
    Elm.SoManyFeeds.Manage.init({ flags: {
        userName: "{{ model.UserName }}",
        feeds: {{ model.FeedsJson }}
    }});
</script>

</body>
</html>
