<!DOCTYPE html>
<html>
{% include "_head.html.liquid" %}
<body>

<script src="/somanyfeeds.js?v={%  include "_assets_version.html.liquid" %}"></script>
<script>
    Elm.SoManyFeeds.Read.init({flags: {
        userName: "{{ model.UserName }}",
        articles: {{ model.ArticlesJson }}
    }});
</script>

</body>
</html>
