<!DOCTYPE html>
<html lang="en">
{% include "_head.html.liquid" %}
<body>

<script src="/somanyfeeds.js?v={%  include "_assets_version.html.liquid" %}"></script>
<script>
    var app = Elm.SoManyFeeds.Applications.Register.init({flags: {}});
    app.ports.redirectTo.subscribe(function (destination) {
        window.location = destination;
    })
</script>

</body>
</html>
