@import 'reset';
@import 'fonts';

$light-color: #efefe0;
$mid-color: #d0d0c0;
$dark-color: #97937e;
$accent-color: #046380;
$contrast-color: #002f2f;
$fg-color: #222;
$bg-color: #fff;

$serif-fonts: 'Merriweather', 'Georgia', serif;
$serif-normal: 300;
$serif-bold: 700;
$sans-serif-fonts: 'Merriweather Sans', 'Helvetica Neue', sans-serif;
$sans-serif-normal: 400;

html, body {
  height: 100%;
  margin: 0;
  background-color: $mid-color;
  font-size: 16px;
  font-family: $serif-fonts;
  font-weight: $serif-normal;
  line-height: 1.4;
  color: $fg-color;
}

header, section {
  padding: 0 1rem;
}

header {
  background-color: $contrast-color;
  padding: .5rem 1rem;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  position: relative;

  h1 {
    color: $bg-color;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

header + h2 {
  background-color: $accent-color;
  color: $contrast-color;
  margin: 0;
  padding: 1rem 1rem 0;
  text-transform: uppercase;
}

header + h2 + h1 {
  background-color: $accent-color;
  color: $bg-color;
  margin: -.8rem 0 0;
  padding: 0 1rem 3rem;
}

header + h2 + h1 + * {
  margin-top: -2rem;
}

section {
  margin-bottom: 2rem;
}

nav {
  text-align: right;

  .button {
    margin-left: 1rem;
  }
}

h1, h2, h3, h4 {
  line-height: 130%;
  color: $accent-color;
  font-family: $sans-serif-fonts;
  font-weight: $sans-serif-normal;
  margin: 0 0 1rem;
}

h1 {
  font-family: $serif-fonts;
  font-weight: $serif-bold;
  font-size: 3rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: $fg-color;
}

a:link, a:hover, a:visited, a:active {
  text-decoration: none;
  color: $accent-color;
}

p {
  margin: 0 0 1rem;
}

em, strong {
  font-weight: $serif-bold;
}

label {
  display: block;
  margin-bottom: 1rem;

  font-family: $sans-serif-fonts;
  font-weight: $sans-serif-normal;
}

input[type="text"] {
  background-color: $bg-color;
  color: $fg-color;
  border: none;
  border-radius: 2px;
  display: block;
  padding: .5rem;
  width: 100%;
  box-sizing: border-box;

  font-family: $serif-fonts;
  font-weight: $serif-normal;

  &:disabled {
    opacity: 0.5;
  }
}

.styled-select {
  padding: 0;
  background-color: $bg-color;
  color: $fg-color;
  border-radius: 2px;
  width: 100%;
  font-family: $serif-fonts;
  font-weight: $serif-normal;

  select {
    background: transparent;
    outline: none;
    width: 100%;
    cursor: pointer;
    height: 2.27rem;
    line-height: 2.27rem;
    padding: 0 .3rem;
    border-radius: 2px;
    border: none;

    &:disabled {
      opacity: 0.5;
    }
  }
}

.button {
  background-color: $dark-color;
  color: $bg-color;
  border: 2px solid $dark-color;
  border-radius: 2px;
  padding: .5rem 1rem;
  cursor: pointer;
  display: inline-block;

  font-family: $sans-serif-fonts;
  font-weight: $sans-serif-normal;
  text-transform: uppercase;
  position: relative;

  &:active {
    top: 1px;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.button.primary {
  background-color: $accent-color;
  border-color: $accent-color;
  color: $bg-color;
}

.button.secondary {
  background-color: rgba(0, 0, 0, 0.02);
  border-color: $dark-color;
  color: $dark-color;
}

dl {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

dt {
  font-family: $sans-serif-fonts;
  font-weight: $sans-serif-normal;
  color: $accent-color;
}

.card, .dialog {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 1rem;
  background-color: $light-color;
}

.dialog {
  width: 30rem;
  padding: 1rem;
  position: fixed;
  top: 20%;
  left: 50%;
  margin-left: -15rem;
  z-index: 3;
  background-color: $bg-color;
}

.card-list {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: $light-color;

  .card {
    border-radius: 0;
    box-shadow: none;

    &:nth-of-type(even) {
      background-color: rgba(0, 0, 0, 0.02);
    }
  }

  > :first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  > :last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  h3 {
    margin: 0;
    padding: .5rem 1rem;
    background-color: $dark-color;
    color: $bg-color;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  z-index: 2;
  background-color: transparentize($light-color, 0.3);
  opacity: 0.5;

  animation-name: fadeIn;
  animation-duration: .25s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

  &.closed {
    opacity: 0;
    animation-name: fadeOut;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
